
#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	width: 600px;
	
}

#featured{
	max-width: 400px;
	min-width: 400px;
	max-height: 400px;
	min-height: 400px;
	object-fit: cover;
	cursor: pointer;
    margin-left:5px;
    box-shadow:3px 3px 14px 15px #ddd ;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 399px;
	display: flex;
	min-height: 100px;
	align-items: center;
    margin-left:10%;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

#slider::-webkit-scrollbar-thumb {
  background-color: #1f3dc5;
  outline: 1px solid rgb(0, 0, 0);
  

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #030607;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}
.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}
.m-auto{
	list-style: none;
	text-align: center;
}